<td class="min-vw-33">Name:{{ dog.name }}</td>
<td class="min-vw-33"><img [src]="dog.image" class="w-6" /></td>

<td>
  <button class="btn btn-secondary">Like</button>
  <button
    class="btn btn-primary"
    [disabled]="user.isRepeat(dog.id)"
    (click)="user.addFav(dog.id)"
  >
    Favorite
  </button>
</td>
<table>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table> 